USE [master]
GO
/****** Object:  Database [ezlife]    Script Date: 7/29/2019 00:36:39 ******/
CREATE DATABASE [ezlife]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ezlife', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ezlife.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ezlife_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ezlife_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ezlife].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ezlife]
GO
USE [ezlife]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 7/29/2019 00:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NULL,
	[Pid] [int] NOT NULL,
 CONSTRAINT [PK__Area__3214EC076DEE001D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Government]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Government](
	[Id] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Name] [varchar](255) NULL,
	[HotLine] [varchar](255) NULL,
 CONSTRAINT [PK__Governme__3214EC07DEA6624F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIBERNATE_GEN_ID]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIBERNATE_GEN_ID](
	[GEN_NAME] [varchar](255) NOT NULL,
	[GEN_VALUE] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[GEN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] NOT NULL,
	[NewsTypeId] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Content] [varchar](255) NULL,
	[Times] [date] NULL,
	[DeadTime] [date] NULL,
	[Status] [int] NOT NULL,
	[Viewes] [int] NOT NULL,
 CONSTRAINT [PK__News__3214EC072FA6F76C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsType]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsType](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NULL,
 CONSTRAINT [PK__NewsType__3214EC078C8CBF41] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [int] NOT NULL,
	[ReportTypeId] [int] NOT NULL,
	[ResidentId] [int] NOT NULL,
	[Content] [varchar](255) NULL,
	[ImageUrl] [varchar](255) NULL,
	[Status] [int] NOT NULL,
	[Times] [date] NULL,
	[Latitude] [bigint] NOT NULL,
	[Longtitude] [bigint] NOT NULL,
	[Viewes] [int] NOT NULL,
 CONSTRAINT [PK__Report__3214EC07AA5D6553] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NULL,
 CONSTRAINT [PK__ReportTy__3214EC07D92E603B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resident]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resident](
	[Id] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Name] [varchar](255) NULL,
	[Phone] [varchar](255) NULL,
	[ImageUrl] [varchar](255) NULL,
	[UserName] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
 CONSTRAINT [PK__Resident__3214EC07EFD57DBF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Social]    Script Date: 7/29/2019 00:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Social](
	[Id] [int] NOT NULL,
	[NewsId] [int] NOT NULL,
	[ResidentId] [int] NOT NULL,
	[Likes] [bit] NOT NULL,
	[Bookmark] [bit] NOT NULL,
 CONSTRAINT [PK__Social__3214EC0708062C76] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Area] ([Id], [Name], [Pid]) VALUES (2, N'ha Noi', 21)
INSERT [dbo].[HIBERNATE_GEN_ID] ([GEN_NAME], [GEN_VALUE]) VALUES (N'Area', 2)
INSERT [dbo].[HIBERNATE_GEN_ID] ([GEN_NAME], [GEN_VALUE]) VALUES (N'Government', 0)
INSERT [dbo].[HIBERNATE_GEN_ID] ([GEN_NAME], [GEN_VALUE]) VALUES (N'News', 0)
ALTER TABLE [dbo].[Government]  WITH CHECK ADD  CONSTRAINT [FKbw3micpxbwjhaqj4uoluk26t4] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Government] CHECK CONSTRAINT [FKbw3micpxbwjhaqj4uoluk26t4]
GO
ALTER TABLE [dbo].[Government]  WITH CHECK ADD  CONSTRAINT [FKGovernment231863] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Government] CHECK CONSTRAINT [FKGovernment231863]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FKioa26w9v3xxl09dcjq5dn8grl] FOREIGN KEY([NewsTypeId])
REFERENCES [dbo].[NewsType] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FKioa26w9v3xxl09dcjq5dn8grl]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FKmqmg8fp8m5xjt984uqium2i33] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FKmqmg8fp8m5xjt984uqium2i33]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FKNews753298] FOREIGN KEY([NewsTypeId])
REFERENCES [dbo].[NewsType] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FKNews753298]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FKNews758776] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FKNews758776]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK8qihlqm1xftuxiedkkc2r1mvm] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Resident] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK8qihlqm1xftuxiedkkc2r1mvm]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FKk8x0wn9m498tlnej652p8x0ke] FOREIGN KEY([ReportTypeId])
REFERENCES [dbo].[ReportType] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FKk8x0wn9m498tlnej652p8x0ke]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FKReport236907] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Resident] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FKReport236907]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FKReport882469] FOREIGN KEY([ReportTypeId])
REFERENCES [dbo].[ReportType] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FKReport882469]
GO
ALTER TABLE [dbo].[Resident]  WITH CHECK ADD  CONSTRAINT [FKmt5cnte9rpooq8w9hl1emqwx7] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Resident] CHECK CONSTRAINT [FKmt5cnte9rpooq8w9hl1emqwx7]
GO
ALTER TABLE [dbo].[Resident]  WITH CHECK ADD  CONSTRAINT [FKResident853656] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Resident] CHECK CONSTRAINT [FKResident853656]
GO
ALTER TABLE [dbo].[Social]  WITH CHECK ADD  CONSTRAINT [FKbpiohjp19ag0rwctq1jiobxsi] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([Id])
GO
ALTER TABLE [dbo].[Social] CHECK CONSTRAINT [FKbpiohjp19ag0rwctq1jiobxsi]
GO
ALTER TABLE [dbo].[Social]  WITH CHECK ADD  CONSTRAINT [FKrgpb0w6htagtd1a5sxrjxwn5f] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Resident] ([Id])
GO
ALTER TABLE [dbo].[Social] CHECK CONSTRAINT [FKrgpb0w6htagtd1a5sxrjxwn5f]
GO
ALTER TABLE [dbo].[Social]  WITH CHECK ADD  CONSTRAINT [FKSocial251248] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([Id])
GO
ALTER TABLE [dbo].[Social] CHECK CONSTRAINT [FKSocial251248]
GO
ALTER TABLE [dbo].[Social]  WITH CHECK ADD  CONSTRAINT [FKSocial707721] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Resident] ([Id])
GO
ALTER TABLE [dbo].[Social] CHECK CONSTRAINT [FKSocial707721]
GO
USE [master]
GO
